body {
  margin:0px;
  background-color:rgba(255, 204, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:258px;
  width:900px;
  height:312px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:312px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:520px;
  top:40px;
  width:129px;
  height:37px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:110px;
  top:258px;
  width:97px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:1020px;
  top:610px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:250px;
  top:172px;
  width:760px;
  height:27px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:110px;
  top:172px;
  width:97px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:60px;
  top:110px;
  width:1200px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u11 {
  position:absolute;
  left:430px;
  top:27px;
  width:50px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
